@{
    var errorModel = (HandleErrorInfo)ViewData.Model;
}

<h3>Error</h3>
<p>
    <b>Controller</b>: @errorModel.ControllerName
</p>
<p>
    <b>Action</b>: @errorModel.ActionName
</p>
<p>
    <b>Message</b>: @errorModel.Exception.Message
</p>
<p>
    <b>Stack Trace</b>: @errorModel.Exception.StackTrace
</p>